// export - - - - - - - - - - - - - - - - - -

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 320px;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;

  background-color: #ffe550;
}
.modal__form {
  text-align: start;
}
.modal__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;

  padding-top: 32px;
 

  color: #2c2c2c;
}
.modal-label__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  padding-left: 32px;

  color: #2c2c2c;
}
.modal-label__input {
  min-width: 280px;
  height: 48px;

  margin-bottom: 24px;

  border-radius: 30px;
  border: 1px solid #7eb101;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;

  &:hover {
    border-color: $accent-col;
  }
  &:focus {
    border-color: $accent-col;
  }
}

// ! modal close btn
.modal__closeBtn {
  position: absolute;

  display: flex;
  align-items: center;

  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: $clear-col;

  /* transition-property: color;
        transition-delay: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.modal_closeBtnIcon {
  width: 18px;
  height: 18px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__closeBtn:hover,
.modal__closeBtn:focus {
  color: $accent-col;
}

.modal__submit {
  width: 200px;
  height: 50px;

  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  color: $btn-text-col;
  background-color: #188ce8;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $btn-text-col;
    background-color: $btn-hover-col;
    outline: none;
    box-shadow: 0 0 0 1.5px $accent-col;
  }
}

// - - - - - - - - - - - - - - - -
