$clear-col: #ffffff;
$header-line-col: #ececec;

$accent-col: #2196f3;

$studio-text-col: #000000;
$main-text-col: #212121;
$secondary-text-col: #757575;

$our-team-bg-col: #f5f4fa;
$main-bg-col: #2f303a;
$btn-bg-col: #2196f3;
$overlay-bg-col: rgba(33, 150, 243, 0.9);
$backdrop-bg-col: rgba(0, 0, 0, 0.2);

$btn-hover-col: #0a85eb;
$btn-text-col: #ffffff;

// ! svg
$icon-color: #afb1b8;
$svg-box-bg-col: #f5f4fa;
